a {
	transition: all 0.2s ease-out; 
}


html, body {
	padding: 0px !important;
	margin: 0px;
}

/* Styles for charts */
#content {
	width: 100%;
	overflow: hidden;
}

#chart {
	max-height: none !important;
}

/* Entire chart */
.c3 svg {
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-size: 13px;
}

/* Lines within chart */
.c3 line {
	display: none;
	stroke: #ccc;
}

.c3 path {
	stroke: #999;
}

.c3-xgrid, .c3-ygrid {
	display: block !important;
	stroke-dasharray: 1 1;
	stroke-opacity: 0.5;
}

.c3-xgrid-focus {
	display: block !important;
}

.domain {
	display: none;
}

#chart .c3-line-units {
	stroke-width: 1px;
}


/* Legend */
.c3-legend-item {
	font-size: 14px;
}

/* Tooltip */
.c3-tooltip th {
	background-color: #999;
	border-bottom: 1px solid #555;
}

@media(max-width:650px) {
	.c3 svg {
		font-size: 12px;
	}

	.c3-legend-item {
		font-size: 12px;
	}
}