.c3 {
	float: left;
	margin-top: 10px;
}

.c3-bars path {
	stroke: #FFF !important;
	stroke-width: 0.5px !important;
}

.c3-line {
	stroke-width: 2px;
}

.toggle-view {
	display: none;
	overflow: hidden;
	width: 40%;
	margin: 0 auto;
}

.toggle-view .toggle-view-option {
	width: 46%;
	padding: 1%;
	text-align: center;
	background-color: #eaf4fb;
	color: #555;
	font-weight: bold;
	border-bottom: 3px solid #777;
	cursor: pointer;
}

.toggle-view .selected, .toggle-view .toggle-view-option:hover {
	background-color: #1f78b4;
	border-bottom: 3px solid #444;
	color: #FFF;
	text-decoration: none;
}

.toggle-view #toggle-view-option-left {
	float: left;
}

.toggle-view #toggle-view-option-right {
	float: right;
}


@media(max-width:650px) {
	.toggle-view {
		width: 90%;
	}

	#toggle-view-homicides, #table-homicides {
		display: none !important;
	}
}