.c3-legend-item-65-74 .c3-legend-item-tile {
	fill: #7fc97f!important;
}

.c3-legend-item-75-84 .c3-legend-item-tile {
	fill: #beaed4!important;
}

.c3-legend-item-85- .c3-legend-item-tile {
	fill: #fdc086!important;
}

.c3-legend-item-TOTAL .c3-legend-item-tile {
	fill: #ffff99!important;
}